* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}


html,
body {

    height: 100%;
    width: 100%;
    background-image: url("../img/back.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    overflow-y: hidden;

}

#overlay {
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(67, 67, 67, 0.5) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    color: white;
    justify-content: center;
    backdrop-filter: blur(4px);

}

h1 {

    background: linear-gradient(135deg, #F5F5F5, #7a7a7a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(35px, 18vw, 100px);

}

